*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
}
header{
    height: 50px;
    display: flex;
    align-items: center;
}

main{
    flex-grow: 1;
    text-align: center;
}

button{
    width: 100px;
    height: 40px;
}

footer{
    height: 30px;
    font-style: italic;
}